
altair
faiss-cpu
langchain-community
langchain-huggingface
langchain-pinecone
langgraph
langgraph-checkpoint
langsmith
openai
openpyxl
pandas
pinecone
pydantic-settings
pyodbc
pypdf
python-dotenv
scikit-learn
sqlalchemy
streamlit
torch










